<div class="row" style="margin-top:200px; padding:20px; background-color:#ede9f5;border-radius:15px;
-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);">
  <div class="col-sm-12" style="text-align:center;">
    <h1>LOGIN</h1></div>

<div class="container">
    <div class="jumbotron">
<form #frm="ngForm" (ngSubmit)="onLoginSubmit(frm)">
 
               <div class="form-group" >
                 <label>Email ID:</label>
                 <input class="form-control" type="email" value="" style=" margin-left:15px;" placeholder="abc@siemens.com" name="username" (keyup)="onEntry(loginname.value)" ngModel #loginame> 
               </div>
               <div class="form-group" >
                 <br>
                 <label>Password </label>
                 <input class="form-control" type="password" style=" margin-left:15px;" name="password" ngModel >
               </div>
               <input type="submit" class="btn btn-primary btn-lg" style=" margin-top:15px;" value="Login" (click)="check()" >
             </form>
            </div></div>

            {{frm.value | json}}